---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href='/'>Thuis</a>
    <a href='/about'>Over mij</a>
    <a href='/blog'>Mijn blogs</a>
    <h1>Mijn Astro webstek</h1>
    <h1>Over mij</h1>
    <h2>... en mijn nieuwe Astro webstek</h2>

    <p>
      Ik volg de Astro tutorial. Dit is de tweede pagina op mijn webstek, en de
      eerste die ik helemaal zelf in me dooie eentje heb gebouwd. Goed, hè?
    </p>

    <p>
      Deze stek wordt automatisch geüpdatet als er nieuwe inhoud wordt
      geplaatst, of bestaande wordt veranderd. Natuurlijk moeten de
      veranderingen daarvoor wel eerst gepusht worden naar GitHub!
    </p>
  </body>
</html>
