---
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href='/'>Thuis</a>
    <a href='/about'>Over mij</a>
    <a href='/blog'>Mijn blogs</a>
    <h1>Mijn Astro webstek</h1>
    <h1>Mijn blogs over het oefenen met Astro</h1>
    <p>
      Op deze pagina vertel ik jullie over mijn ervaringen met het leren van
      Astro
    </p>
  </body>
</html>
